{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="white-transparent border-radius-15 container-flex">
		<h1 class="title-home-h1">Il n’a jamais été aussi simple de débuguer son code</h1>

		<img src="img/img-home.png" alt="Image abstraite de la page d'accueil" width="75%">
	</div>
{% endblock %}