{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="white-transparent border-radius-15 flex lg:flex-row sm:flex-col">
		<h1 class="lg:text-7xl sm:text-9xl font-semibold pl-12 pt-10">Il n’a jamais été aussi simple de débuguer son code</h1>

		<img src="img/img-home.png" alt="Image abstraite de la page d'accueil" class="max-w-none lg:w-2/3 sm:w-full">
	</div>
{% endblock %}
