$font-stack: "Lato", sans-serif;
$primary-color: #1e1e1e;
$pink: #ff5555;
$purple: #4507a4;
$white-transparent: rgba(247, 247, 247, 0.85);

body {
  width: 100%;
  min-height: 100vh;
  font: 100% $font-stack;
  color: $primary-color;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 85, 85, 1) 0%,
    rgba(69, 7, 164, 1) 100%
  );
}

.white-transparent {
  background: $white-transparent;
}

.border-radius-25 {
  border-radius: 15px;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-45 {
  width: 45%;
}

.searchbar {
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
