$font-stack: "Lato", sans-serif;
$primary-color: #1e1e1e;
$pink: #ff5555;
$purple: #4507a4;
$white-transparent: #f7f7f7d9;
$gradient-pink-purple: linear-gradient(180deg, $pink 0%, $purple 100%);
$layout-breakpoint-mobile: 768px;
$layout-breakpoint-tablet: 1024px;
.title-home-h1 {
  font-size: xxx-large;
  padding-left: 1em;
}
.body-global {
  width: 100%;
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5.5rem;
  margin-bottom: 2rem;
  font: 100% $font-stack;
  color: $primary-color;
  background: $gradient-pink-purple;
}

.white-transparent {
  background: $white-transparent;
}

.border-radius-15 {
  border-radius: 15px;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-45 {
  width: 45%;
}

.searchbar {
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

.margin-top-05 {
  margin-top: 0.5rem;
}

.margin-bottom-05 {
  margin-bottom: 0.5rem;
}
