@use "base";
.navbar-link > a {
  color: base.$primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
