<form method="post" action="{{ path('app_ticket_delete', {'id': ticket.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce ticket ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
	<button class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-primary-color font-semibold hover:text-white-transparent py-0.5 px-2 border border-primary-color hover:border-none rounded-full" style="overflow: hidden;">Supprimer</button>
</form>
