<div class="flex-col-space-between-center padding-10 margin-10 white-transparent border-radius-25">
	<img src="img\logo_debug_me.png" alt="Logo de debug.me" width="50">
	<input type="text" name="name" placeholder="Chercher..." class="width-45 searchbar">
	<div class="padding-href">
		<a href="http://www.google.com">Tickets</a>
		<a href="http://www.google.com">S'inscrire</a>
		<a href="http://www.google.com">Se connecter</a>

	</div>
</div>
