<div class="" id="navbar">
	<img src="img\logo_debug_me.png" alt="Logo de debug.me">
	<input type="text" name="name" placeholder="Chercher..." class="searchbar width-45">
	<div>
		<a href="http://www.google.com">Tickets</a>
		<a href="http://www.google.com">S'inscrire</a>
		<a href="http://www.google.com">Se connecter</a>

	</div>
</div>